@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


body {
  background-color: black;
  margin: 0;
}

.Friends {
    font-family: 'Permanent Marker', regular;
    font-size: 30px;
    color: antiquewhite;
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 300px;
  }

  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
  .titulo {
    font-family: 'Permanent Marker', regular; 
    font-size: 15px;
    color: antiquewhite;
    position: relative;
    text-align: center;   
    bottom: 255px;
    right: 25px;
    
  }

@keyframes blink {
      0% { color: purple; } /* Define a cor inicial */
      50% { color: yellow; } /* Define a cor intermediária */
      100% { color: purple; } /* Corrigido para remover (4, 255, 0) */
 }
  
 .friends span:not(:last-child)::after {
  content: "●";
  font-size: 20px; /* Adjust the size as needed */
  margin-top: 30px;
  color: purple;
  animation: blink 1s infinite;
  padding-left: 25px;
  vertical-align: middle;
  
}

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .Ross {

    width: 120px;
    height: 190px;
    position: absolute;
    top: 190px;
    left: 550px;
  
  }
  
  
  .Rachel { 
  
    width: 120px;
    height: 190px;
    position: absolute;
    top: 190px;
    left: 700px;
  
  }
  
  
  .Phoebe {
  
    width: 120px;
    height: 190px;
    position: absolute;
    top: 190px;
      left: 850px;
   
  
  }
  
  
  .Joey {
    width: 120px;
    height: 190px;
    position: absolute;
    top: 400px;
    left: 550px;
  
  
  }
  
  
  
  .Chandler {
    width: 120px;
    height: 190px;
    position: absolute;
    top: 400px;
    left: 700px;
  
  }
  .Monica {
    width: 120px;
    height: 190px;
    position: absolute;
    top: 400px;
    left: 850px;
    
  }
  

  .titulo{
    font-family:'Permanent Marker', cursive;
    font-size: 20px;
    color: white;
    margin-left: 50px;
    margin-top: -35px;
    }
      
  
      
      button {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: black;
        color: grey;
        border-color: grey;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        position: relative;
        text-align: center;
        display: block;
        bottom: -180px;
        left: 700px;
      }

  

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: purple;
  height: 25px;
  padding-bottom: 0px;
}

